<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="<%= server_url %>/api/icon/logo/favicon.ico<%= `?v=${Date.now()}` %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= server_url %>/api/css/public/hobbies.public.css<%= `?v=${Date.now()}` %>"
    />

    <title><%= title %></title>
  </head>

  <body>
    <img src="<%= server_url %>/api/img/content/gym.png<%= `?v=${Date.now()}` %>" alt="gym">
    <p>Me gusta entrenar 5 veces a la semana, mis rutinas son muy intensas y agotadores, voy especialmente por la noche.</p>
    <hr>

    <img src="<%= server_url %>/api/img/content/javascript_in_a_nutshell.png<%= `?v=${Date.now()}` %>" alt="javascript_in_a_nutshell">
    <p>Amo programar y crear sitios web es uno de mis hobbies más favoritos, esto es una prueba de ello.</p>
    <hr>
    
    <nav>
      <a href="/">Regresar al blog</a>
      <a href="/videogames">Videojuegos favoritos</a>
    </nav>
  </body>
</html>
