<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="<%= server_url %>/api/icon/logo/favicon.ico<%= `?v=${Date.now()}` %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= server_url %>/api/css/public/videogames.public.css<%= `?v=${Date.now()}` %>"
    />

    <title><%= title %></title>
  </head>

  <body>
    <img src="<%= server_url %>/api/img/content/solaire_of_astora.png<%= `?v=${Date.now()}` %>" alt="solaire_of_astora">
    <p>Este juego es uno de los que más amo, y se ha convertido en un juego de culto para mucho gente por su inmensa dificultad.</p>
    <hr>
    
    <nav>
      <a href="/">Regresar al blog</a>
      <a href="/hobbies">Mis hobbies</a>
    </nav>
  </body>
</html>
